/node_modules
/public/hot
/public/storage
/public/image_produks
/public/images_logo
/public/images_slide
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
