/node_modules
/public/hot
/public/storage
/public/image_produks
/public/images_logo
/public/images_slide
/public/katalog
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.env

/public/image_berita
public/katalog/KATALOGPRODUK.pdf
*.pdf
public/images_logo/rumahaqiqah3.png
