.main.active {
  padding-left: 275px;
  transition: all .2s ease-in-out;
}
.main .jumbotron {
  background-color: #fff;
  padding: 30px !important;
  border: 1px solid #dfe8f1;
  border-radius: 3px;
}
.main .jumbotron h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

@media (max-width: 600px) {
  .md-xsmall-hide { display: none; }
  #mobileVersion { 
    display: block; 
  }
  .main {
    background: #fafafa;
    transition: all .2s ease-in-out;
  }
  .md-list-item-content {
    padding: 4px 7px !important;
    justify-content: flex-start !important;
  }
  .md-list-item-content>.md-icon:first-child {
    margin-right: 5px !important;
  }
  .md-theme-default a:not(.md-button) {
    color: #767676 !important;
  }
  footer {
    text-align: center;
  }
  .toolbar-mobile {
    position: fixed;
  }
  .toolbar-mobile-wrapper {
    height: 70px;
  }
}
@media (min-width: 601px) {
  #mobileVersion { display: none; }
  .main {
    background: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50px;
    left: 0;
    height: 94vh;
    padding: 15px;
    padding-left: 75px;
    transition: all .2s ease-in-out;
  }
  .dekstop-menu {
    text-transform: uppercase;
    color: #767676;
  }
  footer {
    font-size: 15px !important;
    text-align: right;
  }
  .header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #da2921;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
  }
  .header .logo {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .header #menu-toggle {
    display: block;
    float: left;
    width: 60px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
  }
  .header #menu-toggle i {
    display: inline-block;
    margin: 0 5px;
  }
  .header #menu-toggle span {
    width: 0px;
    display: none;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  .header #menu-toggle:hover {
    background: rgba(0, 0, 0, 0.25);
  }
  .header #menu-toggle.active {
    width: 250px;
    transition: all .2s ease-in-out;
  }
  .header #menu-toggle.active span {
    display: inline;
    width: auto;
    transition: all .2s ease-in-out;
  }
  .sidebar {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 50px;
    height: 100%;
    width: 60px;
    background: #fff;
    border-right: 1px solid #ddd;
    text-align: center;
    transition: all .2s ease-in-out;
  }
  .sidebar.active, .sidebar.hovered {
    width: 250px;
    transition: all .2s ease-in-out;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sidebar ul li {
    display: block;
  }
  .sidebar ul li a {
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    color: #444;
    text-align: left;
  }
  .sidebar ul li a i {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    -webkit-animation-duration: .7s;
            animation-duration: .7s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .sidebar ul li a span {
    display: inline-block;
    height: 60px;
    line-height: 60px;
  }
  .sidebar ul li a:hover {
    background-color: #eee;
  }
  .sidebar ul li a:hover i {
    opacity: .9;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: grey;
  }
}
